mb-rtu-miss4c.json
[{"id":"daec53c1.e2347","type":"tab","label":"List of variables (Read)","disabled":false,"info":""},{"id":"afe653d4.b300e","type":"subflow","name":"Subflow 2","info":"","in":[{"x":60,"y":120,"wires":[{"id":"b99114f1.b347c8"}]}],"out":[{"x":480,"y":80,"wires":[{"id":"592a07c6.402778","port":0}]},{"x":480,"y":120,"wires":[{"id":"9b9fb4b6.67b818","port":0}]},{"x":460,"y":160,"wires":[{"id":"99b478f2.848298","port":0}]}]},{"id":"5197bbce.863c04","type":"modbus-client","z":"","name":"TestServer1","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM5","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"f8e7208b.d6b28","type":"inject","z":"daec53c1.e2347","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["c5fc604a.a5b9d"]]},{"id":"6b72e267.7e1cfc","type":"file in","z":"daec53c1.e2347","name":"List of variables from *.csv (,)","filename":"C:\\Users\\Kosenko\\.node-red\\projects\\mb-rtu-miss4c\\DeviceVariables.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":80,"wires":[["dab12e07.07a0f"]]},{"id":"dab12e07.07a0f","type":"csv","z":"daec53c1.e2347","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":true,"x":610,"y":80,"wires":[["b6beb657.d44358"]]},{"id":"b99114f1.b347c8","type":"switch","z":"afe653d4.b300e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"81","vt":"num","v2":"90","v2t":"num"},{"t":"gte","v":"91","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":190,"y":120,"wires":[["592a07c6.402778"],["9b9fb4b6.67b818"],["99b478f2.848298"]]},{"id":"592a07c6.402778","type":"change","z":"afe653d4.b300e","name":"Norma","rules":[{"t":"set","p":"payload","pt":"msg","to":"Norma","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"GREEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[[]]},{"id":"99b478f2.848298","type":"change","z":"afe653d4.b300e","name":"Alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"ALARM","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"RED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":160,"wires":[[]]},{"id":"9b9fb4b6.67b818","type":"change","z":"afe653d4.b300e","name":"Warning","rules":[{"t":"set","p":"payload","pt":"msg","to":"Warning","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"YELLOW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":347,"y":120,"wires":[[]]},{"id":"ac6c0d65.f9909","type":"function","z":"daec53c1.e2347","name":"arrByte_to_arrVar","func":"\"use strict\";\n\nconst objVar = {\n    //        adr, type (word - 2byte, [2] = undefined\n    //                   bool - 1bit from word, [2] = number bit in word\n    //                   float - 4byte, [2] = fixed (Decimal Digits)\n    //                   char - Stores a single character/letter or ASCII values (UTF-16)\n    //                   long - 4byte, [2] = undefined\n    //         0,   1,    2\n    nameVar1: [0, \"word\"],\n    nameVar2: [1, \"bool\", 9],\n    nameVar3: [2, \"long\"],\n    nameVar4: [4, \"char\"]\n};\n\nconst dataArr = msg.payload;\n\nlet valVar = {};\n\nfor (let key in objVar) {\n    valVar[key] = getVal(objVar[key], dataArr);\n}\n\nfunction getSize(nameVar) {\n    let size = 0,\n        numBit = 16,\n        fixed = '';\n    switch (nameVar[1]) {\n        case 'word':\n            size = 2;\n            break;\n        case 'bool':\n            size = 2;\n            numBit = nameVar[2];\n            break;\n        case 'float':\n            size = 4;\n            fixed = nameVar[2];\n            break;\n        case 'char':\n            size = 2;\n            break;\n        case 'long':\n            size = 4;\n            break;\n    }\n    return [size, numBit, fixed];\n}\n\nfunction getVal(nameVar, dataArr) {\n    let val = 0,\n        count = 0;\n    const size = getSize(nameVar),\n        adr = nameVar[0];\n    for (let i = (adr * 2); i < (adr * 2 + size[0]); i++) {\n        val = val + (dataArr[i] << ((size[0] * 8 - 8) - (count * 8)));\n        count++;\n    }\n    switch (nameVar[1]) {\n        case 'float':\n            val = floatConversion(val, size[2]);\n            break;\n        case 'char':\n            val = String.fromCharCode(val);\n            break;\n        case 'bool':\n            val = Boolean(val & Math.pow(2, size[1]));\n            break;\n    }\n    return val;\n}\n\nfunction floatConversion(data, fixed) {\n\n    if (typeof data === 'number' && (data % 1) === 0) {\n        data = data.toString(2);\n    }\n\n    if ((typeof data === 'string' || data instanceof String) && data.match(\"^[01]+$\") && data.length <= 32) {\n\n        data = data.length < 32 ? '0'.repeat(32 - data.length) + data : data;\n        let sign = (data.charAt(0) == '1') ? -1 : 1,\n            exponent = parseInt(data.substr(1, 8), 2) - 127,\n            significandBase = data.substr(9),\n            significandBin = '1' + significandBase,\n            i = 0,\n            val = 1,\n            significand = 0;\n\n        if (exponent == -127) {\n            if (significandBase.indexOf('1') == -1) {\n                return 0;\n            } else {\n                exponent = -126;\n                significandBin = '0' + significandBase;\n            }\n        }\n\n        while (i < significandBin.length) {\n            significand += val * parseInt(significandBin.charAt(i));\n            val = val / 2;\n            i++;\n        }\n\n        let floatValue = sign * significand * Math.pow(2, exponent);\n\n        if (fixed) {\n            floatValue = floatValue.toFixed(fixed) / 1;\n        }\n        return floatValue;\n\n    } else {\n        return null;\n    }\n}\nmsg.payload = valVar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":480,"wires":[[]]},{"id":"9359b739.163068","type":"modbus-flex-getter","z":"daec53c1.e2347","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5197bbce.863c04","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1050,"y":180,"wires":[[],["2f007e30.4406d2"]]},{"id":"b6beb657.d44358","type":"building-reqs-variables","z":"daec53c1.e2347","name":"","x":780,"y":80,"wires":[["afe1014d.ca5ae"],["c08c3bf.cf579c8","603673c2.3a939c"]]},{"id":"40156945.18de08","type":"debug","z":"daec53c1.e2347","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":60,"wires":[]},{"id":"afe1014d.ca5ae","type":"change","z":"daec53c1.e2347","name":"","rules":[{"t":"set","p":"dbVar","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":60,"wires":[["40156945.18de08"]]},{"id":"2f007e30.4406d2","type":"debug","z":"daec53c1.e2347","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":180,"wires":[]},{"id":"603673c2.3a939c","type":"debug","z":"daec53c1.e2347","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":120,"wires":[]},{"id":"c08c3bf.cf579c8","type":"split","z":"daec53c1.e2347","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":270,"y":180,"wires":[["b96a3d56.af2ef"]]},{"id":"b96a3d56.af2ef","type":"change","z":"daec53c1.e2347","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'req'&msg.parts.index","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["81a09de0.afedd"]]},{"id":"81a09de0.afedd","type":"function","z":"daec53c1.e2347","name":"","func":"const {setSetting, value, ...req} = msg.payload;\nglobal.set(`dbReqs.${msg.topic}`, req);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":180,"wires":[["9359b739.163068"]]},{"id":"7af116fc.0a2218","type":"function","z":"daec53c1.e2347","name":"","func":"const {setSetting, value, ...req} = msg.payload;\nglobal.set(`dbResponse.${msg.topic}`, req);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":280,"wires":[[]]},{"id":"a3ac6c71.f1d9a","type":"inject","z":"daec53c1.e2347","name":"","props":[{"p":"payload.value","v":"msg.palyload","vt":"str"},{"p":"payload.fc","v":"3","vt":"str"},{"p":"payload.unitid","v":"1","vt":"str"},{"p":"payload.address","v":"4401","vt":"num"},{"p":"payload.quantity","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":870,"y":140,"wires":[["9359b739.163068"]]},{"id":"c5fc604a.a5b9d","type":"delay","z":"daec53c1.e2347","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":80,"wires":[["6b72e267.7e1cfc"]]}]