mb-rtu-miss4c.json
[{"id":"daec53c1.e2347","type":"tab","label":"List of variables (Read)","disabled":false,"info":""},{"id":"afe653d4.b300e","type":"subflow","name":"Subflow 2","info":"","in":[{"x":60,"y":120,"wires":[{"id":"b99114f1.b347c8"}]}],"out":[{"x":480,"y":80,"wires":[{"id":"592a07c6.402778","port":0}]},{"x":480,"y":120,"wires":[{"id":"9b9fb4b6.67b818","port":0}]},{"x":460,"y":160,"wires":[{"id":"99b478f2.848298","port":0}]}]},{"id":"5197bbce.863c04","type":"modbus-client","z":"","name":"TestServer1","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM5","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"500","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"29cda679.ae5dda","type":"ui_tab","z":"","name":"miss4c","icon":"dashboard","disabled":false,"hidden":false},{"id":"bd91c316.c81d1","type":"ui_group","z":"","name":"Read/Write MB RTU","tab":"29cda679.ae5dda","order":1,"disp":true,"width":"18","collapse":false},{"id":"f8e7208b.d6b28","type":"inject","z":"daec53c1.e2347","name":"1st","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["dcdd500c.6da21"]]},{"id":"6b72e267.7e1cfc","type":"file in","z":"daec53c1.e2347","name":"List of variables from *.csv (,)","filename":"C:\\Users\\Kosenko\\.node-red\\projects\\mb-rtu-miss4c\\DeviceVariables.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":80,"wires":[["dab12e07.07a0f"]]},{"id":"dab12e07.07a0f","type":"csv","z":"daec53c1.e2347","name":"","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":true,"x":690,"y":80,"wires":[["26972d85.a21662"]]},{"id":"b99114f1.b347c8","type":"switch","z":"afe653d4.b300e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"81","vt":"num","v2":"90","v2t":"num"},{"t":"gte","v":"91","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":190,"y":120,"wires":[["592a07c6.402778"],["9b9fb4b6.67b818"],["99b478f2.848298"]]},{"id":"592a07c6.402778","type":"change","z":"afe653d4.b300e","name":"Norma","rules":[{"t":"set","p":"payload","pt":"msg","to":"Norma","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"GREEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[[]]},{"id":"99b478f2.848298","type":"change","z":"afe653d4.b300e","name":"Alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"ALARM","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"RED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":160,"wires":[[]]},{"id":"9b9fb4b6.67b818","type":"change","z":"afe653d4.b300e","name":"Warning","rules":[{"t":"set","p":"payload","pt":"msg","to":"Warning","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"YELLOW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":347,"y":120,"wires":[[]]},{"id":"40156945.18de08","type":"debug","z":"daec53c1.e2347","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":60,"wires":[]},{"id":"afe1014d.ca5ae","type":"change","z":"daec53c1.e2347","name":"","rules":[{"t":"set","p":"dbVar","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":60,"wires":[["40156945.18de08"]]},{"id":"81a09de0.afedd","type":"function","z":"daec53c1.e2347","name":"create reqs","func":"const req = msg.payload;\n\nflow.set('reqModbus.maxIndex', req.length - 1);\nflow.set('reqModbus.index', 0);\nflow.set('reqModbus.read', true);\nflow.set(`dbReqs.modbus`, req);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":120,"wires":[["fc56292d.0449d8"]]},{"id":"dcdd500c.6da21","type":"change","z":"daec53c1.e2347","name":"","rules":[{"t":"set","p":"dbReqs","pt":"flow","to":"{}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":80,"wires":[["6b72e267.7e1cfc"]]},{"id":"26972d85.a21662","type":"building-reqs-variables","z":"daec53c1.e2347","name":"","maxQuantity":"10","addressInBytes":true,"x":860,"y":80,"wires":[["afe1014d.ca5ae"],["81a09de0.afedd"]]},{"id":"e017619e.19a0a","type":"value-in-global-context-from-res","z":"daec53c1.e2347","name":"","nameGlobalDBVar":"dbVar","x":1250,"y":320,"wires":[[]]},{"id":"fc56292d.0449d8","type":"debug","z":"daec53c1.e2347","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":120,"wires":[]},{"id":"dd36792c.f53c98","type":"function","z":"daec53c1.e2347","name":"read from dbReqs (flow)","func":"const req = flow.get(`dbReqs.modbus`),\n    reqModbus = flow.get(\"reqModbus\");\nmsg.topic = `req${reqModbus.index}`;\nmsg.payload = req[reqModbus.index];\nreqModbus.index++;\n\nif (reqModbus.index > reqModbus.maxIndex || reqModbus.index < 0) {\n    reqModbus.index = 0;\n}\n\nflow.set(\"reqModbus\", reqModbus);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":300,"wires":[["9a7453f7.1218f"]]},{"id":"6d4f84dc.0f17cc","type":"debug","z":"daec53c1.e2347","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"754bc2c7.d01a7c","type":"status","z":"daec53c1.e2347","name":"MB Read","scope":["5fda9043.5066b"],"x":80,"y":240,"wires":[["a6679103.8fca7","808aed34.f9d87"]]},{"id":"808aed34.f9d87","type":"function","z":"daec53c1.e2347","name":"status green?","func":"const status = msg.status ;\n\nif (status.fill === \"green\") {\n    if (status.text === \"active\") {\n        return msg;\n    } else if (status.text === \"connected\" && flow.get(\"dbReqs\") != {}) {\n        return msg;  \n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":300,"wires":[["dd36792c.f53c98"]]},{"id":"a6679103.8fca7","type":"function","z":"daec53c1.e2347","name":"status red?","func":"const status = msg.status ;\n\nif (status.fill == \"red\") {\n    msg.resetQueue = true;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["881e59cf.c367a8","f0b3f90.2e43a08"]]},{"id":"5fda9043.5066b","type":"modbus-flex-getter","z":"daec53c1.e2347","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5197bbce.863c04","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":990,"y":300,"wires":[[],["e017619e.19a0a","e886adc0.a9dc7"]]},{"id":"9a7453f7.1218f","type":"delay","z":"daec53c1.e2347","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":300,"wires":[["6d4f84dc.0f17cc","f0b3f90.2e43a08"]]},{"id":"881e59cf.c367a8","type":"debug","z":"daec53c1.e2347","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":240,"wires":[]},{"id":"e886adc0.a9dc7","type":"debug","z":"daec53c1.e2347","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":280,"wires":[]},{"id":"f0b3f90.2e43a08","type":"switch","z":"daec53c1.e2347","name":"","property":"reqModbus.read","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":300,"wires":[["5fda9043.5066b"]]},{"id":"10c15d93.9958f2","type":"complete","z":"daec53c1.e2347","name":"1st","scope":["afe1014d.ca5ae","81a09de0.afedd"],"uncaught":false,"x":270,"y":260,"wires":[["dd36792c.f53c98"]]},{"id":"adecf766.3ebe98","type":"inject","z":"daec53c1.e2347","name":"set Read","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":380,"wires":[["3321694f.700696","dd36792c.f53c98"]]},{"id":"3321694f.700696","type":"change","z":"daec53c1.e2347","name":"","rules":[{"t":"set","p":"reqModbus.read","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":380,"wires":[[]]},{"id":"6697421.7ac96bc","type":"inject","z":"daec53c1.e2347","name":"reset Read","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":420,"wires":[["d291ee82.5cc7b"]]},{"id":"d291ee82.5cc7b","type":"change","z":"daec53c1.e2347","name":"","rules":[{"t":"set","p":"reqModbus.read","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":420,"wires":[[]]},{"id":"d2901fd1.811db","type":"modbus-flex-write","z":"daec53c1.e2347","name":"","showStatusActivities":true,"showErrors":true,"server":"5197bbce.863c04","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1010,"y":660,"wires":[["2dcdb866.2d9498"],[]]},{"id":"707e6023.cc243","type":"debug","z":"daec53c1.e2347","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":640,"wires":[]},{"id":"af28cf42.2e20b","type":"function","z":"daec53c1.e2347","name":"write float","func":"const buf = Buffer.allocUnsafe(4);\nbuf.writeFloatLE(22.5, 0);\n\nlet arr = [buf.readUInt16LE(2), buf.readUInt16LE(0)];\nmsg.payload = {\n    value: [...arr],\n    'fc': 16,\n    'unitid': 1,\n    'address': 4406,\n    'quantity': 2 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":700,"wires":[[]]},{"id":"db6dc778.ab0078","type":"function","z":"daec53c1.e2347","name":"write word","func":"msg.payload = {\n    value: [16301],\n    'fc': 16,\n    'unitid': 1,\n    'address': 4414,\n    'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":740,"wires":[[]]},{"id":"13b0ab3a.ab8db5","type":"delay","z":"daec53c1.e2347","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":660,"wires":[["d272103d.2dc98"]]},{"id":"d272103d.2dc98","type":"switch","z":"daec53c1.e2347","name":"","property":"reqModbus.write","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":660,"wires":[["d2901fd1.811db"]]},{"id":"99dcfe86.e180d","type":"inject","z":"daec53c1.e2347","name":"set Write","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":660,"wires":[["b5dd7f4.517418"]]},{"id":"b5dd7f4.517418","type":"change","z":"daec53c1.e2347","name":"","rules":[{"t":"set","p":"reqModbus.write","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"reqModbus.read","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":660,"wires":[["c3e388c5.483d78"]]},{"id":"2dcdb866.2d9498","type":"change","z":"daec53c1.e2347","name":"","rules":[{"t":"set","p":"reqModbus.write","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"reqModbus.read","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":640,"wires":[["707e6023.cc243"]]},{"id":"c3e388c5.483d78","type":"function","z":"daec53c1.e2347","name":"write from dbVar (global)","func":"const dbVar = global.get(`dbVar`);\n\nfor (const [key, value] of Object.entries(dbVar)) {\n    if (value.valueWrite) {\n        if (value.valueWrite != value.value) {\n            switch (value.type.toLowerCase()) {\n                case \"word\":\n                    msg.payload = {\n                        value: [value.valueWrite],\n                        'fc': 16,\n                        'unitid': 1,\n                        'address': value.address,\n                        'quantity': 1 };\n                    node.send(msg);\n                    break;\n                case \"char\":\n                    msg.payload = {\n                        value: [value.valueWrite],\n                        'fc': 16,\n                        'unitid': 1,\n                        'address': value.address,\n                        'quantity': 1 };\n                    node.send(msg);\n                    break;\n                case \"float\":\n                    const buf = Buffer.allocUnsafe(4);\n                    buf.writeFloatLE(value.valueWrite, 0);\n                    let arr = [buf.readUInt16LE(2), buf.readUInt16LE(0)];\n                    msg.payload = {\n                        value: [...arr],\n                        'fc': 16,\n                        'unitid': 1,\n                        'address': 4406,\n                        'quantity': 2 };\n                    node.send(msg);\n                    break;\n            } \n        }        \n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":660,"wires":[["13b0ab3a.ab8db5"]]},{"id":"70f49835.48bd28","type":"function","z":"daec53c1.e2347","name":"value = write?","func":"const dbVar = global.get(`dbVar`);\n\nfor (const [key, value] of Object.entries(dbVar)) {\n    if (value.valueWrite) {\n        if (value.valueWrite.toFixed(2)  != value.value.toFixed(2)) {\n            msg.payload = key;\n            return msg;\n        }        \n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":580,"wires":[["5fd5f5c8.b9d0dc","b5dd7f4.517418"]]},{"id":"5fd5f5c8.b9d0dc","type":"debug","z":"daec53c1.e2347","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":580,"wires":[]},{"id":"bc7fcb65.552ee8","type":"inject","z":"daec53c1.e2347","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":580,"wires":[["70f49835.48bd28"]]},{"id":"7c830d3f.2727e4","type":"function","z":"daec53c1.e2347","name":"table Tags","func":"const dbVar = global.get(`dbVar`),\n    arr = [];\nlet i = 0;\nconst NewTag = (key, value) => {\n    const tag = {\n        name: key,\n        address: value.address,\n        type: value.type,\n        access: value.access,\n        value: value.value,\n        write: value.valueWrite || \"\"\n    };            \n    return tag;\n};\n\nfor (const [key, value] of Object.entries(dbVar)) {\n    arr[i] = NewTag(key, value);\n    i++;\n}\n\nmsg.payload = arr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":820,"wires":[["587bfa2c.1e1a14","3552e182.428cae"]]},{"id":"af3f2272.c642","type":"ui_table","z":"daec53c1.e2347","group":"bd91c316.c81d1","name":"","order":0,"width":"18","height":"13","columns":[{"field":"","title":"","width":"5%","align":"center","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"name","title":"Tag name","width":"25%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"address","title":"Address","width":"12.5%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"type","title":"Data type","width":"12.5%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"access","title":"Access","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"value","title":"Value","width":"17.5%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"write","title":"Write","width":"17.5%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":670,"y":820,"wires":[["48a14974.a19518"]]},{"id":"587bfa2c.1e1a14","type":"debug","z":"daec53c1.e2347","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":880,"wires":[]},{"id":"cc8b05af.27e6c8","type":"ui_button","z":"daec53c1.e2347","name":"Update","group":"bd91c316.c81d1","order":1,"width":0,"height":0,"passthru":false,"label":"Update (auto update after writing - 4 seconds)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":820,"wires":[["7c830d3f.2727e4"]]},{"id":"82bbebb5.605538","type":"inject","z":"daec53c1.e2347","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":860,"wires":[["7c830d3f.2727e4"]]},{"id":"3552e182.428cae","type":"change","z":"daec53c1.e2347","name":"ui_control","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"columnResized\":\"function(column){     var newColumn = {         field: column._column.field,         visible: column._column.visible,         width: column._column.width,         widthFixed: column._column.widthFixed,         widthStyled: column._column.widthStyled     }; this.send({topic:this.config.topic,ui_control:{callback:'columnResized',columnWidths:newColumn}}); }\",\"columnMoved\":\"function(column, columns){     var newColumns=[];     columns.forEach(function (column) {         newColumns.push({'field': column._column.field});     });     this.send({topic:this.config.topic,ui_control:{callback:'columnMoved',columns:newColumns}}); }\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":820,"wires":[["af3f2272.c642"]]},{"id":"b6bf4ea4.dac12","type":"ui_toast","z":"daec53c1.e2347","position":"prompt","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":1010,"y":820,"wires":[["2ec14d3e.c5a6e2"]]},{"id":"48a14974.a19518","type":"function","z":"daec53c1.e2347","name":"write Tag?","func":"if (msg.topic === \"write\") {\n    msg.nameTag = msg.payload.name;\n    msg.accessTag = msg.payload.access;\n    msg.payload = msg.payload.name;\n    msg.topic = `Write tag: `\n    return msg; \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":820,"wires":[["b6bf4ea4.dac12"]]},{"id":"f4399479.f18e58","type":"debug","z":"daec53c1.e2347","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":960,"wires":[]},{"id":"2ec14d3e.c5a6e2","type":"function","z":"daec53c1.e2347","name":"set valueWrite","func":"if (msg.payload) {\n    if (msg.accessTag == \"R/W\") {\n             const dbVar = global.get(`dbVar`),\n            name = msg.nameTag,\n            tagValue = Number(msg.payload);\n    \n        for (const [key, value] of Object.entries(dbVar)) {\n            if (key == name) {\n                value.valueWrite = tagValue;\n            }\n        }\n        \n        return [null, msg];   \n    } else {\n        msg.topic = `Tag ${msg.nameTag} - RO (read only)`\n        return [msg, null];\n    } \n\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1180,"y":820,"wires":[["d86ef488.2f3238"],["76796fc3.10207"]]},{"id":"76796fc3.10207","type":"delay","z":"daec53c1.e2347","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":960,"wires":[["7c830d3f.2727e4","f4399479.f18e58"]]},{"id":"58c9d780.928668","type":"ui_toast","z":"daec53c1.e2347","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"RO","x":1270,"y":740,"wires":[[]]},{"id":"d86ef488.2f3238","type":"change","z":"daec53c1.e2347","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"запись не возможна","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":740,"wires":[["58c9d780.928668"]]}]